.desc__title {
  color: #434348;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  height: 28px;
  left: 48px;
  line-height: 28px;
  position: relative;
  top: 36px;
  width: 928px;
}
.desc__content {
  background: url("image/fon.svg");
  display: flex;
  height: 240px;
  left: 48px;
  position: relative;
  top: 20px;
  width: 928px;
}
.content__period {
  color: #323137;
  display: flex;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  height: 40px;
  line-height: 40px;
  padding-left: 48px;
  padding-top: 36px;
  width: 184px;
}
.content__week {
  display: flex;
  position: absolute;
  height: 61px;
  padding-left: 48px;
  padding-top: 50px;
  width: 380px;
}
.week__day {
  /*position: absolute;*/
  /*display: flex;*/
  flex-direction: column;
  /*align-items: flex-start;*/
  /*justify-content: space-between;*/
  width: 398.78px;
  /*height: 48px;*/
  padding-top: 16px;
  padding-bottom: 10px;
}

.button__form {
  position: absolute;
  width: 179px;
  height: 32px;
  left: 48px;
  top: 175px;
  background: #FFB78C;
  border-radius: 5px;
  border-color: transparent;
}
.button__text {
  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #434348;
  margin: 0;
}
.button__foto {
  display: flex;
  position: absolute;
  margin-left: 160px;
  margin-top: -14px;
  width: 4px;
  height: 8px;
}
.desc__foto {
  /*background: url("image/girl.svg");*/
  position: absolute;
  width: 189px;
  height: 264px;
  left: 660px;
  top: -24px;
}
