<div class="header__menu">
  <ul>
    <li class="menu__list">School</li>
    <li class="menu__list">News</li>
    <li class="menu__list">Team</li>
    <li class="menu__list">Students</li>
    <li class="menu__list">HELP</li>
  </ul>
</div>
<div class="header__button">
  <p>
    <input  type="search" placeholder="Поиск по сайту">
  </p>
</div>
<h1 id="title" class="header__title">English online</h1>
<p class="header__desc">
  Лично проведу первый бесплатный урок,<br>
  определю уровень и подберу программу
</p>
<p class="header__desc_text" align="center">Директор школы English online</p>
<form class="form">
  <button class="form__button">Хочу попробовать!</button>
</form>
