<li class="list__item"><a class="item__link" href="">английский для начинающих</a></li>
<li class="list__item"><a class="item__link" href="">английский для бизнеса</a></li>
<li class="list__item"><a class="item__link" href="">курс разговорный английский</a></li>
<li class="list__item"><a class="item__link" href="">английский для путешествий</a></li>
<li class="list__item"><a class="item__link" href="">курсы английского для школьников</a></li>
<li class="list__item"><a class="item__link" href="">занятия английским с носителем</a></li>
<li class="list__item"><a class="item__link" href="">подготовка к экзамену по английскому</a></li>
