
<app-list></app-list>
<h4 class="section__subtitle">Подробнее о программах</h4>
<p class="section__desc_text">Английский для начинающих.</p>
<p class="section__desc">
  На этом курсе вы освоите словарный запас и грамматические правила, просто необходимые для повседневного общения на английском. Вы научитесь понимать элементарные вопросы, отвечать на них. Уроки английского с нуля – это применение полученных знаний на практике. После окончания курса английский с нуля онлайн, вы заложите фундамент для дальнейшего совершенствования языка.
</p>
<p class="section__desc_text">Разговорный английский.</p>
<p class="section__desc">Это курс, где вы существенно увеличите свой словарный запас и овладеете красивыми грамматическими структурами, которые позволят Вам уверенно общаться на английском на любые повседневные темы. Вам захочется смотреть фильмы, читать книги и периодику на английском языке. И, конечно, общаться с его носителями. Курсы разговорного английского онлайн дают такую возможность. Такие онлайн-встречи мотивируют вас для покорения новых высот! Уроки разговорного английского языка подходят для взрослых</p>
<p class="section__desc_text">Английский для бизнеса.</p>
<p class="section__desc">Это курс для тех, кто уже имеет определенную базу и кому необходимо освоить лексику своей сферы деятельности, научиться вести телефонные переговоры и переписку с англоязычными коллегами, а также участвовать в международных презентациях и семинарах на английском. Курсы бизнес английского также предоставляют вам возможность онлайн-встреч с носителями языка.</p>
<form class="section__form">
  <button class="section__button">Выбрать курс</button>
</form>
